@model Entidades.Empleado

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/_LayoutMenu.cshtml";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Empleado</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdEmpleado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdEmpleado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DniEmp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DniEmp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreEmp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreEmp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApellidoEmp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApellidoEmp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaNac)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaNac)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DireccionEmp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DireccionEmp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelefonoEmp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelefonoEmp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailEmp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailEmp)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
